/* Global */
:root {
  /* Color */
  color: white;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Font size */
  --font-large: 169px;
  --font-medium: 48px;
  --font-regular: 32px;
  --font-small: 20px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 8px;

  /* Annimation */
  --animation-duration: 100ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "NanumSquareRoundBold";
  background: no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--color-white);
}
input::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--color-white);
}
input::-ms-input-placeholder {
  /* IE 10+ */
  color: var(--color-white);
}
input::-moz-placeholder {
  /* Firefox 18- */
  color: var(--color-white);
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin: 8px 0;
}

h4 {
  font-size: var(--font-small);
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin: 8px 0;
}

h5 {
  font-size: var(--font-micro);
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

#wrap {
  width: 100%;
  height: 100vh;
}

#weather__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 40px;
  margin-right: 20px;
}

#weather__container h3 {
  color: var(--color-white);
}

#weather__info {
  display: flex;
  align-items: center;
  justify-content: end;
}

#weather__icon {
  width: 40px;
  height: 40px;
}

#weather__city {
  text-align: end;
  margin: 0px;
}

#info__container {
  margin-top: 100px;
  text-align: center;
  align-content: center;
  font-family: "NanumSquareRoundBold";
  font-weight: 700;
}

#greeting__container {
  text-align: center;
  margin: 20px auto;
  width: 50%;
}

#greeting__container h2 {
  margin: 20px;
}

#logout__btn {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 0;
  width: 48px;
  height: 48px;
  color: var(--color-white);
  font-size: var(--font-medium);
}

#login__form input,
#todo__form input {
  width: 60%;
  padding: 0;
  border: none;
  border-bottom: solid white;
  color: var(--color-white);
  caret-color: var(--color-white);
  background: transparent;
  font-weight: var(--weight-semi-bold);
  line-height: normal;
  outline: none;
  text-align: center;
  font-size: var(--font-regular);
}

#greeting__container #login__form {
  padding: 20px;
}

#greeting__container #login__form input {
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
}

#greeting__container #greeting {
  text-align: center;
}

#todo__form__container {
  margin: 20px auto;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  padding: 20px;
}

#todo__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#quote__container {
  margin: auto;
  position: absolute;
  bottom: 50px;
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
}

#quote__content,
#quote__author {
  font-size: var(--font-micro);
  text-align: center;
}

#todo__list__container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: var(--size-border-radius);
  bottom: 40px;
  right: 20px;
  width: 300px;
  margin-bottom: 10px;
  height: auto;
  transition: all var(--animation-duration) ease-in;
}

#todo__list {
  margin: 0;
  position: relative;
  width: 100%;
  padding: 0px 10px;
  overflow: auto;
}

#todo__list li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

#todo__list span {
  color: var(--color-white);
  font-size: var(--font-micro);
}

#todo__btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

#todo__btn:hover {
  transform: scale(1.05);
  transition: all var(--animation-duration) ease-in;
}

.todo__delete-btn {
  margin-left: 15px;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  #wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #weather__container {
    order: 1;
    width: 100%;
  }
  #info__container {
    order: 2;
    margin-top: 60px;
  }
  #greeting__container {
    order: 3;
    margin: 10px;
  }
  #todo__form__container {
    order: 4;
    margin: 10px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  #login__form input,
  #todo__form input {
    width: 80%;
  }

  #todo__list__container {
    order: 5;
    position: relative;
    bottom: 0px;
    right: 0px;
    width: 80%;
    margin: 0px;
    height: auto;
    max-height: 250px;
    transition: all var(--animation-duration) ease-in;
    overflow-y: auto;
  }

  #todo__btn {
    order: 6;
  }
  #quote__container {
    order: 7;
    bottom: 20px;
  }
}
