/* Global */
:root {
  /* Color */
  color: white;
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 169px;
  --font-medium: 60px;
  --font-regular: 32px;
  --font-small: 20px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 8px;

  /* Annimation */
  --animation-duration: 100ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "NanumSquareRoundBold";
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-white);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-white);
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin: 8px 0;
}

h4 {
  font-size: var(--font-small);
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin: 8px 0;
}

h5 {
  font-size: var(--font-micro);
  font-weight: var(--font-regular);
  color: var(--color-white);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

#wrap {
  width: 100%;
  height: 100vh;
}

#weather__container {
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 40px;
  margin-right: 20px;
}

#weather__container h3 {
  color: var(--color-white);
}

#weather__info {
  display: flex;
  align-items: center;
  justify-content: end;
}

#weather__icon {
  width: 40px;
  height: 40px;
}

#weather__city {
  text-align: end;
  margin: 0px;
}

#info__container {
  margin-top: 100px;
  text-align: center;
  align-content: center;
  font-family: "NanumSquareRoundBold";
  font-weight: 700;
}

#greeting__container {
  text-align: center;
  margin: auto;
  width: 40%;
}

#login__form input,
#todo__form input {
  padding: 0;
  border: none;
  border-bottom: solid white;
  color: var(--color-white);
  caret-color: var(--color-white);
  background: transparent;
  font-weight: 500;
  line-height: normal;
  outline: none;
  text-align: center;
  font-size: var(--font-medium);
}

#greeting__container #login__form {
  padding: 20px;
  /*input이랑 button을 가운데로 모이게 정렬*/
  display: flex;
  align-items: center;
  justify-content: center;
}

#greeting__container #login__form input {
  display: block;
  height: 50px;
  width: 100%;
  text-align: center;
}

#greeting__container #greeting {
  text-align: center;
}

#todo__form__container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#quote__container {
  margin: auto;
  position: absolute;
  bottom: 20px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
}

#quote h3 {
  display: inline;
}

#todo__Btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: var(--color-white);
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

#todo__container {
  position: absolute;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
  bottom: 40px;
  right: 20px;
  width: 300px;
  margin-bottom: 10px;
  height: auto;
  transition: all var(--animation-duration) ease-in;
}

#todo__list {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: auto;
}

/*밑 코드를 넣으니 좌우스크롤바가 생김 */
#todo__list li {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

#todo__list span {
  color: var(--color-grey);
  font-size: var(--font-micro);
}

.todo__delete-btn {
  margin-left: 15px;
}
